<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>판매정보</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
$(document).ready(function(){
    init();
})
// function checkValue() {
// 	let inputValue = $("#searchInput").val();
	
	
// }

function init(){
	$.ajax({
		url: 'selectAll',
		type: 'get',
		dataType:'json',
		success: function(list) {
	    	  $('#listTr').html('');
	          <!-- let str = ''; -->
	          list.map(function(item) {
	        	  $('#listTr').append(`
	        			  <tr>
	        	  <td>${item.boardnum}</td>
	        	  <td>${item.category}</td>
	        	  <td>${item.title}</td>
	        	  </tr>`);
	          });
	            
	      },
	      error: function() {
	        alert('검색에 실패했습니다. 다시 시도해주세요.');
	      }
		
		
	});
	
}

function pagingFormSubmit() {
	let category = $("#type").val();
	console.log(category);
    $.ajax({
      url: 'selectSearchGetA', // 서버가 처리할 URL을 지정해야 합니다.
      type: 'get',
      data : {category},
      dataType: 'json',
      success: function(list) {
    	  $('#listTr').html('');
          <!-- let str = ''; -->
          list.map(function(item) {
        	  $('#listTr').append(`
        			  <tr>
        	  <td>${item.boardnum}</td>
        	  <td>${item.category}</td>
        	  <td>${item.title}</td>
        	  </tr>`);
          });
            
      },
      error: function() {
        alert('검색에 실패했습니다. 다시 시도해주세요.');
      }
    });
}

function searchSubmit(){
	let searchWord = $("#searchInput").val();
	let category = $("#type").val();
	console.log(searchWord);
	console.log(category);
    $.ajax({
      url: 'selectSearchGetB', // 서버가 처리할 URL을 지정해야 합니다.
      type: 'get',
      data : {category,searchWord},
      dataType: 'json',
      success: function(list) {
    	  $('#listTr').html('');
          <!-- let str = ''; -->
          list.map(function(item) {
        	  $('#listTr').append(`
        			  <tr>
        	  <td>${item.boardnum}</td>
        	  <td>${item.category}</td>
        	  <td>${item.title}</td>
        	  </tr>`);
          });
            
      },
      
    });
}
</script>
</head>
<body>
<h1> [판매정보 게시판] </h1>

<!-- 폼을 테이블 바깥으로 이동 -->
<form id="pagingForm">
    <select id="type" name="category" onchange="pagingFormSubmit()">
        <option value="all" th:selected="${type == 'all'}">전체</option>
        <option value="computer" th:selected="${type == 'computer'}">컴퓨터 및 주변기기</option>
        <option value="camera" th:selected="${type == 'camera'}">카메라</option>
        <option value="car" th:selected="${type == 'car'}">자동차 용품</option>
    </select>
    <input type="text" name="searchWord" id = "searchInput" onkeyup="searchSubmit()">
</form>

<!-- 테이블 정상적으로 표시 -->
<table class="t_main">
    <tr id="table_head">
        <td style="width: 12%;">번호</td>
        <td style="width: 48%;">카테고리</td>
        <td style="width: 15%;">제목</td>
    </tr>
</table>
<table id="listTr">
</table>
            
</body>
</html>
